html, body {
  margin: 0;
  padding: 0;
}

.app {
  width: 400px;
  height: 100vh;
  background: #000C36;
}

body {
  display: flex;
  justify-content: center;
}

.landing {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  text-align: center;
}

.app-logo {
  width: 100px;
  height: 105px;
}

.app-title {
  font-family: "Carter One", system-ui;
  color: white;
  margin-top: 0.25em;
}