html, body {
  margin: 0;
  padding: 0;
}


body {
  display: flex;
  justify-content: center;
}

.app {
  width: 400px;
  height: 100vh;
  padding: 1.5em;
  background: #000C36;
}

header {
  text-align: center;
}

.app-logo {
  width: 60px;
  height: 65px;
}

.app-title {
  margin-top: .5em;
  margin-bottom: .1em;
}

.sub-title {
  margin-top: 0;
  margin-bottom: 2em;
  font-size: 0.85rem;
}

.landing {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  width: 100%;
}

.questionnaire {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

label, legend {
  font-size: 1.15rem;
}

.chip-select-options, textarea {
  margin-top: 0.5em;
}

.chip-select {
  border: none;
  padding: 0;
}

.chip-select-options {
  display: flex;
  gap: 1em;
}

.chip-select-option {
  border: none;
  border-radius: 0.75em;
  padding: 0.5em 0.75em;
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}

textarea {
  display: inline-block;
  width: 90%;
  resize: none;
  background: #3B4877;
  border: none;
  border-radius: 0.25em;
  padding: 0.75em;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: .95rem;
  line-height: 1.25;
  letter-spacing: .1rem;
}

button[type="submit"] {
  margin-top: 1em;
}

.recommendations {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  padding: 0.75em 1em;
  display: block;
  width: 100%;
  background: #51E08A;
  border: none;
  border-radius: 0.25em;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
  cursor: pointer;
  transition: background 0.3s ease;
  transition: color 0.3s ease;
}

button:hover {
    background: #37e075;
    color: white;
}

body, textarea {
    font-family: "Roboto Slab", serif;
    color: white;
}



